*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: black;
    width: 100%;
    padding: 15px 0;
    position: fixed;
}
#menue{
    max-width: 1250px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#logo a{
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}
#menue ul{
    display: inline flex;
}
#menue ul li{
    list-style: non;
    margin-left: 7px;

}
#menue ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    background-color:rgb(255, 0, 0) ;
    padding: 15px 15px;
    margin-inline: 10px;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    text-shadow: 1px black;
    transition: all 0.3s ease;
    height:3px ;
    width: 8px;
}
#menue ul li a:hover{
    background-color: rgb(80, 66, 66);
    font-weight: 1000;
}
#image{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#center{
    position: absolute;
    top: 40%;
    left: 27%;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: translate(-50%,-50%);
    font-size: 60px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: teal;
}
#button{
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s;
    margin-inline: 10px;
    border-radius: 15px;
}
#button:hover{
    
    margin-inline: 10px;
    border-radius: 15px;
    background-color: rgb(80, 66, 66);
    font-size: 22px;
}